/* GLOBAL */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  
    margin: 0; 
    position: relative;
    height: 100vh;
    width: 100vw;
     background: url('https://i.pinimg.com/236x/32/12/7f/32127ffefbf82251b0d6dec2cf13e147.jpg');
    background-size: cover;
}

ul {
  list-style: none;
}

/* FONTS */
h1, h2, h3 { 

  font-family: 'Playfair Display SC', serif;
  text-transform: uppercase;
}

h3 {
  display: grid;
}

header {
  padding: 32px 0;
  text-align: center;
}

header,
section {
  max-width: 300px;
  margin: 0 auto; 
  right: 100px;
}

header h1 {
  margin-bottom: 4px;
  font-size: 30px;
  line-height: 33px;
}

header p {
  font-size: 17px;
  line-height: 16px;
  margin-top: 22px;

  color: rgb(255, 255, 255);
}

section {
  margin-bottom: 24px;
}

section h2 {
  background-color: #2d2a2a00;
  padding: 8px 1px;
  text-align: center;

  margin-bottom: 24px;
  font-size: 30px;
}

ul li {
  margin-bottom: 20px;
}

li .details {
  max-width: 220px;
}

.details h3 {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 19px ;
}

.details p {
  color:white;
  font-size: 16px;
  line-height: 21px;
  margin-left: 9px;
  margin-top: -4px;
}

h1 {
  color:gold;
}

h2 {
 color:rgb(201, 51, 51);
 margin-top: -25px;
}

h3 {
  color:rgb(28, 209, 28);
  margin-top: -12px;
}


.price {
  color: rgb(208, 63, 63);
  float: right;
  margin-top: -40px;
}

.global {
  color: rgb(208, 63, 63);
  float: right;
  margin-top: -29px;
}  

.word {
  color:rgb(208, 63, 63);
  float: right;
  margin-top: -27px;
}